@page "/Theory"

@using DC2023.Shared;

<div class="text-black min-vh-100 d-flex flex-column align-items-center justify-content-center position-relative text-center pb-5">
    <h6 class="pb-3">NOT BRAGGING, BUT A COOL GUY SAID HE SUPPORTS ME THIS MORNING</h6>
    <h3 class="pb-5 lh-1">.NET MAUI is Microsoft's offering in the space<br /> of cross platform development via web technologies</h3>

    <div><img src="images/maui-overview.jpg" /></div>

    <ScrollPageButton />
</div>

<div class="text-white min-vh-100 d-flex flex-column align-items-center justify-content-center border-top bg-custom-dark position-relative pb-5">
    <h3>Blazor is Microsoft's equivalent to your favorite JS UI Framework</h3>
    <h3 class="pb-2">Think React or Vue but in CSharp and HTML</h3>
    <h6 class="pb-5">Just... Without the JS 🙂</h6>

    <div><img src="images/blazor-microsoft-shot.png" /></div>

    <ScrollPageButton />
</div>

<div class="text-black min-vh-100 d-flex flex-column align-items-center justify-content-center border-top position-relative pb-5">
    <h2 class="mb-5 fw-bold">SO HOW DOES IT WORK?</h2>

    <div class="card-group w-75">
        <div class="card shadow rounded-lg p-5 m-4">
            <img class="card-img-top" src="images/dotnetbot_thumb.png" />

            <div class="card-body mt-5 text-center">
                <h4 class="card-title fw-bold mb-4">.NET MAUI PROJECT</h4>
                <h4 class="card-text lh-sm">Just another .NET MAUI code base with a some extra dependencies</h4>
            </div>
        </div>
        <div class="card shadow rounded-lg p-5 m-4">
            <img class="card-img-top" src="images/rocket.png" />

            <div class="card-body mt-5 text-center">
                <h4 class="card-title fw-bold mb-4">ADD BLAZOR WEBVIEW</h4>
                <h4 class="card-text lh-sm">Introduce Blazor Web Views to the build</h4>
            </div>
        </div>
        <div class="card shadow rounded-lg p-5 m-4">
            <img class="card-img-top" src="images/web.png" />

            <div class="card-body mt-5 text-center">
                <h4 class="card-title fw-bold mb-4">START PLAYING</h4>
                <h4 class="card-text lh-sm">Mix and match MAUI and Blazor as you please</h4>
            </div>
        </div>
    </div>
</div>

@code {

}